*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(img/wall_pokedexjpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
p{    
    margin-top: 40px;
}
footer{
    text-align: center;
    margin-top: 120px;
}
small{
    color: #fff;
}
.nav_top{
    width: 100vw;
    height: 100px;
}
.title{
    margin-top: 18px;
    text-align: center;
    padding: 50px;
    background-image: url(https://pokedex.sleduardo.dev/img/logo.svg);   
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}
.nav_left{
    border-radius: 32px;
    background-image: url(img/wall-pokedex.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 450px;
    height: 650px;
    text-align: center;
    margin-left: 7vw;
    position: fixed;
}
.box_left{
   margin: 3vh;
}
.box_mid{
    border-radius: 18px;
    margin-left: 600px;    
    height: 650px;
    width: 60vw;
    background-image: url(img/wall-pokemon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.title_pokedex{
    margin-bottom: 3vh;
    margin-top: 8vh;
    color: black;
    font-size: 36px;
}
.link{
    color: black;
    font-size: 30px;
    text-decoration: none;
}
.link:hover{
    color: red;
}
.numero{
    padding-top: 1vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
}
.nome{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}
.title_pokemon{
    border-top: 6px solid #4bb7ff;
    border-radius: 20px 20px 0px 0px;
    background-color: #e3f4ff
}
.img_tipo{
    margin-top: 50px;
    text-align: center;
}
.tipo{
    border: 1px solid #07006baf;
    border-radius: 18px;
    background-color: #4bb7ff;
    width: 400px;
    padding: 20px;
    margin: auto;
    text-align: center;
    font-size: 26px;
    color: black;
    font-weight: 700;    
    box-shadow: 0px 3px 10px rgb(82, 82, 82);
}
.tipo_2{
    border: 1px solid #07006baf;
    border-radius: 18px;
    background-color: yellow;
    width: 400px;
    padding: 20px;
    margin: auto;
    text-align: center;
    font-size: 26px;
    color: black;
    font-weight: 700;
    box-shadow: 0px 3px 10px rgb(82, 82, 82);
}