*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: lightgray;
}
.nav_top{
    width: 100vw;
    height: 100px;
    background-image: url(https://pokedex.sleduardo.dev/img/logo.svg);
}
.title{
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    text-align: center;
    font-size: 2.5em;
    padding: 20px;
}
.nav_left{
    background-color: gray;
    width: 25%;
    height: 90vh;
    text-align: center;
    position: fixed;
}
.box_left{
   margin-top: 150px;
}
.title_pokedex{
    margin-bottom: 32px;
    color: #fff;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
}

.link{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-decoration: none;
}
.link:hover{
    color: red;
}
p{    
    margin-top: 40px;
}
